@media only screen and (min-width: 200px) {
    #past_match_placeholder {
        background-color: white;
        border: 2px solid darkgray;
        height: 300px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    #group_search_button {
        margin-top: 25px;
        margin-bottom: 50px;
    }
    .hide {
        display: none;
    }
    .match_box {
        margin-right: auto;
        margin-left: auto;
        width: 250px;
        border-bottom: 1px solid darkgray;
    }
}

@media only screen and (min-width: 750px) {
    .match_flex {
        display: flex;
        justify-content: center;
    }
    #match_one, #match_three {
        margin-right: 40px;
    }
    .match_box {
        width: 500px;
    }
}