h1 {
    text-align: center;
}

.radio_form {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.radio_label {
    font-size: 15px;
}

.login_radio {
    padding-right: 20px;
}

.form_output {
    margin-bottom: 30px;
    text-align: center;
}