@media only screen and (min-width: 200px) {
    .restaurant_box {
        background-color: white;
        border: 2px solid darkgray;
        height: 300px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
    }
    .restaurant_buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 25px;
    }
}

@media only screen and (min-width: 750px) {
    .restaurant_box {
        height: 600px;
        width: 500px;
        margin-top: 50px;
    }
    .restaurant_buttons {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 975px) {}