@media only screen and (min-width: 200px) {
    .subhead {
        font-size: 20px;
        margin-top: 50px;
    }
    .groups_box, .chef_mode_box {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .list_item {
        padding-bottom: 10px;
    }
    .go_button {
        width: 75px;
        padding: 0px;
        height: 22px;
        margin-top: 10px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
        background-color: white;
    }
    .go {
        margin-right: 10px;
    }
    .chef_mode_box {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 750px) {
    .groups_box, .chef_mode_box {
        width: 300px;
    }
}

@media only screen and (min-width: 975px) {}