@media only screen and (min-width: 200px) {
    .chat_list_box {
        width: 250px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 50px;
        border-top: 1px solid darkgray;
    }
}

@media only screen and (min-width: 750px) {
    .chat_list_box {
        width: 500px;
    }
}